



body{
    margin: 0px;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
}
.btn{
    background-image: linear-gradient(to right, #05A6FA, #5E18DB);  
    border-radius: 14px;
    width: 200px;
    height: 40px;
    text-align: center;
    border: none;
    color: #fff;
    
    font-family: Arial, Helvetica, sans-serif;
}
.btn:hover{
    background-image: linear-gradient(to right, #030a0e, #5E18DB);  
    transition-duration: 1s;

}
img, svg {
    vertical-align: middle;
    width: 330px;
  }
.s1{
    width: 200px;
}
.d-none{
    background-color: #891fcf;
}

.inp1{
   
    background-image: url('img/person\ 1.svg');
    position: center;
    padding-left: 45px;
  
  padding-top: 10px;
    background-size: 35px;
    background-repeat: no-repeat;
  
  }
  .inp2{
   
    background-image: url('img/lock-closed\ 1.svg');
    position:center;
    padding-left: 45px;
   
    background-size: 30px;
    background-repeat: no-repeat;
  
  }
  @media (min-width:768px) {
    .section1{
        width: 600px;
        align-content: center;
        align-items: center;
        margin-left: 150px;
      
    }
   
  }

  a{
    text-decoration: none;
    color: #794af8;
  }